.product {
    display: flex;
    align-items: center;
}
img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}
.table {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label {
    margin-right: 10px;
    font-weight: bold;
}